.header-nav {
	padding-top: 22px;
	padding-bottom: 22px;
	background-color: #fff;
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
@media (max-width: 605px) {
	.header-nav {
		padding-top: 8px;
    padding-bottom: 8px;
	}
}

.nav {
	display: flex;
	position: relative;
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-left: auto;
}
@media (max-width: 605px) {
	.nav-list {
		display: none;
	}
	.nav-list-mobile--active {
		display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: #fff;
    width: 100%;
	}

	.nav__main-link-container {
		margin: 0 auto;
	}
}

.nav-list__item {
	margin-right: 45px;
}
@media (max-width: 605px) {
	.nav-list__item {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}

.nav-list__item-main-link {
	margin-right: 100px;
}

.nav-list__link {
	color: #555;
	transition: color .2s;
}
.nav-list__link:hover {
	color: #2ca8ff;
}
@media (max-width: 605px) {
	.nav-list__link {
		font-size: 24px;
		display: block;
		padding: 6px 0;
	}
}

.nav__main-link {
	font-size: 28px;
}

/* Footer */
.footer__nav-list-link {
	color: #ccc;
}

.nav-list__link--active {
	color: #2ca8ff;
}

.burger {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: none;
}
@media (max-width: 605px) {
	.burger {
		display: inline-block;
	}
}

.burger__bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  transition: .4s;
}

.burger__bar--change .burger__bar--1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.burger__bar--change .burger__bar--2 {
  opacity: 0;
}

.burger__bar--change .burger__bar--3 {
  transform: rotate(45deg) translate(-8px, -8px);
}